@use '../../admin/variables' as *;
@use '../mixins' as m;

.fs-badge {
  @include m.center-flex;
  height: 26px;
  padding: 0 $spacing-sm;
  border-radius: $border-radius-md;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: $font-size;
  font-weight: $font-regular;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;

  // Цветовые схемы
  &.is-green {
    background-color: rgb(198, 225, 198);
    color: rgb(44, 71, 0);
  }

  &.is-blue {
    background-color: $wp-admin-blue-bg;
    color: $wp-admin-blue-text;
  }

  &.is-gray {
    background-color: $wp-admin-gray-bg;
    color: $wp-admin-gray-text;
  }

  &.is-yellow {
    background-color: $wp-admin-yellow-bg;
    color: $wp-admin-yellow-text;
  }

  &.is-red {
    background-color: $wp-admin-red-bg;
    color: $wp-admin-red-text;
  }
}
