@use '../../admin/variables' as *;

.fs-lms-secret-field {
  position: relative;
  display: inline-block;
  width: 100%;


  .regular-text {
    width: 100% !important;
    padding-right: 40px !important;
    box-sizing: border-box;
  }

  .fs-lms-toggle-secret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: $color-secondary;
    transition: color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;

    &:hover,
    &:focus {
      color: $color-primary-hover;
      background:  none;
      outline: none;
      box-shadow: none;
    }

    .dashicons {
      font-size: $font-size-m;
      width: $font-size-m;
      height: $font-size-m;
    }
  }
}