@use '../../shared/tokens' as *;

.fs-toggle {
  display: inline-block;
  vertical-align: middle;

  // Контейнер-рельса
  &-switch {
    position: relative;
    display: block;
    width: rem(40);
    height: rem(20);
    background-color: $color-secondary;
    border-radius: rem(15);
    cursor: pointer;
    transition: all 0.3s ease;
    text-indent: rem(-9999);

    // Внутренний кружок
    &::after {
      content: '';
      position: absolute;
      top: rem(2);
      left: rem(2);
      width: rem(16);
      height: rem(16);
      background: $color-bg-modal;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
  }

  // Скрытый чекбокс
  input[type="checkbox"] {
    display: none;

    &:checked + .fs-toggle-switch {
      background-color: var(--color-primary);
      opacity: 1 !important;

      &::after {
        left: rem(22); // Смещение кружка вправо
      }
    }
  }

  // Вариант "Только чтение" (Status Only)
  &.is-readonly {
    cursor: default;
    pointer-events: none;
    opacity: 0.9;

    .fs-toggle-switch {
      cursor: default;
    }
  }
}