.tw-5 {
  width: 5% !important;
}

.tw-10 {
  width: 10% !important;
}

.tw-15 {
  width: 15% !important;
}

.tw-20 {
  width: 20% !important;
}

.tw-25 {
  width: 25% !important;
}

.tw-30 {
  width: 30% !important;
}

.tw-33 {
  width: 33.333333% !important;
}

.tw-40 {
  width: 40% !important;
}

.tw-50 {
  width: 50% !important;
}

.tw-60 {
  width: 60% !important;
}

.tw-66 {
  width: 66.666666% !important;
}

.tw-70 {
  width: 70% !important;
}

.tw-75 {
  width: 75% !important;
}

.tw-80 {
  width: 80% !important;
}

.tw-90 {
  width: 90% !important;
}

.tw-100 {
  width: 100% !important;
}

.tw-auto {
  width: auto !important;
}

.tw-full {
  width: 100% !important;
}

.min-tw-10 {
  min-width: 10% !important;
}

.min-tw-20 {
  min-width: 20% !important;
}

.min-tw-25 {
  min-width: 25% !important;
}

.min-tw-33 {
  min-width: 33.333333% !important;
}

.min-tw-50 {
  min-width: 50% !important;
}

.max-tw-50 {
  max-width: 50% !important;
}

.max-tw-100 {
  max-width: 100% !important;
}