.tw-5 {
  width: 5%;
}

.tw-10 {
  width: 10%;
}

.tw-15 {
  width: 15%;
}

.tw-20 {
  width: 20%;
}

.tw-25 {
  width: 25%;
}

.tw-30 {
  width: 30%;
}

.tw-33 {
  width: 33.333333%;
}

.tw-40 {
  width: 40%;
}

.tw-50 {
  width: 50%;
}

.tw-60 {
  width: 60%;
}

.tw-66 {
  width: 66.666666%;
}

.tw-70 {
  width: 70%;
}

.tw-75 {
  width: 75%;
}

.tw-80 {
  width: 80%;
}

.tw-90 {
  width: 90%;
}

.tw-100 {
  width: 100%;
}

.tw-auto {
  width: auto;
}

.tw-full {
  width: 100%;
}

.min-tw-10 {
  min-width: 10%;
}

.min-tw-20 {
  min-width: 20%;
}

.min-tw-25 {
  min-width: 25%;
}

.min-tw-33 {
  min-width: 33.333333%;
}

.min-tw-50 {
  min-width: 50%;
}

.max-tw-50 {
  max-width: 50%;
}

.max-tw-100 {
  max-width: 100%;
}