@use '../variables' as *;

.header-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; // Выравнивание по верхнему краю
  gap: $gap-sm;
  margin-bottom: $spacing-xl;


  .header-actions {
    display: flex;
    gap: $spacing-lg; // Расстояние между кнопками
    white-space: nowrap; // Чтобы кнопки не переносились на новую строку
  }
}