.js-taxonomy-table {
  border: 1px solid #c3c4c7;
  box-shadow: none;
  margin-top: 20px;

  td, th {
    padding: 12px 10px !important; // Делаем строки выше и читабельнее
    vertical-align: middle !important;
  }

  .row-actions.visible {
    position: static;
    visibility: visible;
  }
}

// Стили для кнопки "плюс" под таблицей
.fs-add-row-container {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-top: none;
  text-align: center;

  .fs-add-row-button {
    width: 100%;
    height: 44px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #a7aaad;

    &:hover {
      background: #f6f7f7;
      color: #2271b1;
    }
  }
}

