.fs-add-row-container {
  margin-top: -1px; // Приклейка к границе таблицы
  background: #fff;
  border: 1px solid #c3c4c7; // Совпадаем с рамкой таблицы
  border-top: none;

  .fs-add-row-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px; // Фиксированная высота, чтобы не было дыр
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    outline: none;
    padding: 0;

    &:hover {
      background-color: #f6f7f7;

      .dashicons {
        color: #2271b1;
      }
    }

    .dashicons {
      font-size: 20px;
      color: #a7aaad;
    }
  }
}

// Выравнивание действий в таблице
.js-taxonomy-table {
  .row-actions {
    vertical-align: middle !important;
    padding: 8px 10px !important;
  }
}