// Эти значения будут меняться через меню кастомизации в админке //
$front-primary-color: var(--fs-front-primary-color, #029AE5);
$front-accent-color: var(--fs-front-accent-color, #F0B300);
$bg-color: var(--fs-front-bg-color, #f4f4f4);